# Creating WASM ufuncs for `DataFrames` with `witxcraft`

Import the `fromwasmmod` function from the  `witxcraft.ufunc` module. This function will read a WASM module and wrap the functions in it for use with `DataFrame/Series.apply` methods.

In [25]:
import witxcraft as wc

The `fromwasmmod` function takes a filename or URL to a WASM module, or the raw contents of a WASM module. Either compiled WASM or WATX maybe used.

In [26]:
funcs = wc.fromwasmmod('df.wasm')

Using `dir` we can see the WASM functions that are available.

In [27]:
[x for x in dir(funcs) if not x.startswith('_')]

['mult', 'mult_vec', 'square', 'square_vec']

## Using WASM functions with pandas

To demonstrate WASM functions on `pandas` objects, we'll first load some data into a `DataFrame`.

In [28]:
import pandas as pd
import numpy as np

Generate some numeric data to work with.

In [29]:
data_len = 100000
df = pd.DataFrame(dict(X=np.random.randint(0, 50, size=data_len),
                       Y=np.random.randint(0, 50, size=data_len),
                       Z=np.random.randint(0, 50, size=data_len)))
df

        X   Y   Z
0       9   6  26
1      24  48  33
2      19  35  27
3      27  15  20
4      36   3  46
...    ..  ..  ..
99995  49  42  17
99996  10   8  15
99997   5   1  38
99998   2   6   8
99999   0  44  17

[100000 rows x 3 columns]

### Simple example of a WASM function with scalar input and output

The `square` function simply squares the given value.

In [30]:
funcs.square(10)

100

In [31]:
funcs.mult(10, 5)

50

In [32]:
funcs.square_vec([5, 10])

0     25
1    100
dtype: int64

In [33]:
funcs.mult_vec([5, 10], [2, 3])

0    10
1    30
dtype: int64

### Using the WASM functions with pandas data

This function can be applied to a `pandas.Series` using the `apply` method as follows.

In [45]:
%time df.X.apply(funcs.mult, args=[10])

CPU times: user 4.61 s, sys: 0 ns, total: 4.61 s
Wall time: 4.61 s

0         90
1        240
2        190
3        270
4        360
        ...
99995    490
99996    100
99997     50
99998     20
99999      0
Name: X, Length: 100000, dtype: int64

Since the functions support the `ufunc` API, you can also apply them as a function call with the `pandas.Series` as the argument.

In [46]:
%time funcs.mult(df.X, 10)

CPU times: user 4.44 s, sys: 0 ns, total: 4.44 s
Wall time: 4.44 s

0         90
1        240
2        190
3        270
4        360
        ...
99995    490
99996    100
99997     50
99998     20
99999      0
Name: X, Length: 100000, dtype: object

Using the vector version of the `mult` func, we can send two `Series` objects in. Rather than allowing the `DataFrame` to iterate over the objects and apply a new function call on each pair, this version will push the data from both objects into the WASM memory and do all of the work in WASM. This eliminates much of the WASM call overhead.

### Using a vectorized WASM function with pandas data

Vector versions of the functions copy the entire data vector into WASM memory before operating on it. This reduces the WASM function call overhead.

In [47]:
%time funcs.mult_vec(df.X, df.Y)

CPU times: user 63.6 ms, sys: 0 ns, total: 63.6 ms
Wall time: 61.9 ms

0          54
1        1152
2         665
3         405
4         108
         ...
99995    2058
99996      80
99997       5
99998      12
99999       0
Length: 100000, dtype: int64

### Reimplemented as standard python functions

In [37]:
class PyFuncs:
    
    def mult(self, a, b):
        return a * b
    
    def square(self, a):
        return a ** 2
    
    def square_vec(self, arr):
        return [x ** 2  for x in arr] 
    
    def mult_vec(self, arr1, arr2):
        return [a*b for a,b in zip(arr1,arr2)]

In [38]:
import numpy as np

# Printing these to make sure they match the above.
pyfuncs = PyFuncs()  
print(pyfuncs.square(10))
print(pyfuncs.mult(10, 5))
print(pyfuncs.square_vec([5, 10]))
print(pyfuncs.mult_vec([5, 10], [2, 3]))

100
50
[25, 100]
[10, 30]

In [48]:
%time df.X.apply(pyfuncs.mult, args=[10])

CPU times: user 54.1 ms, sys: 0 ns, total: 54.1 ms
Wall time: 52.7 ms

0         90
1        240
2        190
3        270
4        360
        ...
99995    490
99996    100
99997     50
99998     20
99999      0
Name: X, Length: 100000, dtype: int64

In [54]:
%time pyfuncs.mult(df.X, 10)

CPU times: user 570 Âµs, sys: 684 Âµs, total: 1.25 ms
Wall time: 677 Âµs

0         90
1        240
2        190
3        270
4        360
        ...
99995    490
99996    100
99997     50
99998     20
99999      0
Name: X, Length: 100000, dtype: int64

In [53]:
%time pyfuncs.mult_vec(df.X, df.Y)

CPU times: user 19.1 ms, sys: 0 ns, total: 19.1 ms
Wall time: 18.5 ms

[54,
 1152,
 665,
 405,
 108,
 13,
 775,
 1075,
 124,
 1320,
 962,
 432,
 975,
 240,
 88,
 225,
 0,
 1520,
 1120,
 351,
 1287,
 2064,
 407,
 217,
 1840,
 798,
 612,
 560,
 360,
 252,
 435,
 990,
 1200,
 875,
 1560,
 432,
 1316,
 704,
 740,
 616,
 1568,
 836,
 1023,
 300,
 0,
 456,
 165,
 1911,
 684,
 684,
 1980,
 40,
 1148,
 1152,
 665,
 343,
 280,
 336,
 255,
 217,
 2115,
 276,
 105,
 696,
 160,
 140,
 0,
 1806,
 12,
 387,
 861,
 798,
 315,
 528,
 94,
 90,
 475,
 336,
 625,
 910,
 117,
 0,
 1548,
 612,
 1170,
 6,
 638,
 168,
 902,
 418,
 570,
 392,
 396,
 416,
 182,
 68,
 576,
 814,
 792,
 1104,
 816,
 165,
 0,
 0,
 780,
 868,
 1247,
 238,
 672,
 924,
 992,
 675,
 840,
 217,
 0,
 80,
 441,
 30,
 12,
 782,
 792,
 348,
 1127,
 1176,
 333,
 24,
 143,
 444,
 1763,
 920,
 760,
 832,
 1200,
 637,
 518,
 1118,
 714,
 76,
 14,
 950,
 1242,
 410,
 630,
 378,
 1482,
 874,
 196,
 494,
 84,
 261,
 0,
 135,
 40,
 0,
 2205,
 1591,
 720,
 968,
 518,
 154,
 680,
 2205,
 704,
 252,
 1584,
 2303,
 1012,
 936,
 1666,
 2208,
 288,
 121,
 148,
 220,
 441,
 240,
 85,
 612,
 407,
 420,
 32,
 1715,
 648,
 150,
 644,
 1584,
 44,
 14,
 1330,
 731,
 120,
 84,
 550,
 2162,
 506,
 30,
 1599,
 248,
 640,
 364,
 376,
 1073,
 315,
 630,
 990,
 296,
 814,
 792,
 336,
 837,
 308,
 615,
 475,
 768,
 330,
 144,
 840,
 736,
 561,
 1530,
 1672,
 1353,
 301,
 861,
 297,
 88,
 406,
 2156,
 234,
 210,
 276,
 240,
 1786,
 48,
 2016,
 0,
 1215,
 1505,
 87,
 112,
 1880,
 1140,
 48,
 1710,
 364,
 780,
 96,
 416,
 168,
 738,
 70,
 564,
 222,
 54,
 504,
 1848,
 258,
 516,
 19,
 132,
 58,
 168,
 520,
 672,
 77,
 189,
 1216,
 1386,
 285,
 174,
 80,
 1617,
 78,
 374,
 396,
 391,
 559,
 33,
 660,
 576,
 833,
 448,
 1394,
 99,
 520,
 600,
 1833,
 744,
 28,
 30,
 448,
 368,
 1200,
 507,
 656,
 198,
 42,
 16,
 286,
 36,
 1150,
 660,
 12,
 62,
 1152,
 90,
 777,
 396,
 756,
 126,
 114,
 420,
 200,
 440,
 224,
 190,
 187,
 102,
 102,
 396,
 320,
 910,
 960,
 23,
 972,
 2021,
 432,
 1599,
 16,
 882,
 42,
 630,
 396,
 304,
 230,
 70,
 0,
 903,
 451,
 90,
 45,
 161,
 2162,
 1073,
 1290,
 256,
 392,
 0,
 377,
 49,
 896,
 14,
 924,
 14,
 287,
 504,
 25,
 315,
 391,
 782,
 84,
 328,
 136,
 704,
 341,
 22,
 624,
 76,
 168,
 21,
 1890,
 1292,
 336,
 115,
 378,
 960,
 418,
 54,
 1131,
 420,
 2254,
 1116,
 882,
 68,
 115,
 320,
 624,
 468,
 1190,
 736,
 44,
 480,
 1610,
 35,
 17,
 164,
 154,
 141,
 902,
 783,
 50,
 987,
 176,
 696,
 360,
 840,
 330,
 0,
 779,
 528,
 1104,
 30,
 580,
 300,
 130,
 646,
 1365,
 782,
 517,
 693,
 320,
 182,
 992,
 0,
 195,
 1408,
 195,
 544,
 208,
 1369,
 924,
 780,
 630,
 680,
 4,
 1,
 28,
 145,
 93,
 1617,
 912,
 325,
 560,
 231,
 216,
 396,
 630,
 288,
 470,
 1066,
 1122,
 296,
 960,
 294,
 520,
 407,
 783,
 210,
 621,
 810,
 20,
 143,
 180,
 220,
 1512,
 1025,
 370,
 266,
 390,
 84,
 0,
 128,
 950,
 65,
 390,
 258,
 23,
 2156,
 430,
 50,
 432,
 1075,
 68,
 833,
 1368,
 768,
 221,
 1160,
 903,
 684,
 195,
 110,
 980,
 609,
 105,
 820,
 231,
 0,
 210,
 150,
 945,
 435,
 1564,
 1482,
 1224,
 180,
 1258,
 130,
 0,
 1247,
 49,
 1287,
 45,
 1036,
 630,
 17,
 312,
 1519,
 192,
 0,
 576,
 220,
 1880,
 40,
 608,
 1540,
 1209,
 493,
 276,
 462,
 120,
 675,
 50,
 111,
 42,
 304,
 1632,
 114,
 564,
 1015,
 405,
 1120,
 1200,
 690,
 990,
 90,
 8,
 256,
 192,
 333,
 320,
 312,
 56,
 1617,
 1296,
 1064,
 296,
 1936,
 294,
 54,
 434,
 1800,
 340,
 0,
 675,
 1344,
 475,
 1554,
 576,
 1632,
 242,
 702,
 486,
 1248,
 1258,
 432,
 1155,
 1786,
 837,
 714,
 27,
 340,
 170,
 1848,
 825,
 0,
 98,
 120,
 340,
 480,
 459,
 660,
 57,
 100,
 1147,
 240,
 0,
 26,
 189,
 1178,
 0,
 750,
 1073,
 638,
 1056,
 1520,
 280,
 203,
 646,
 282,
 185,
 112,
 992,
 279,
 0,
 380,
 105,
 2024,
 182,
 840,
 28,
 0,
 663,
 1188,
 644,
 576,
 588,
 300,
 123,
 589,
 924,
 60,
 406,
 1274,
 1036,
 684,
 392,
 56,
 792,
 360,
 1125,
 490,
 512,
 396,
 60,
 2205,
 12,
 78,
 1482,
 84,
 64,
 36,
 1720,
 644,
 480,
 714,
 1280,
 156,
 272,
 288,
 1440,
 475,
 416,
 180,
 1224,
 26,
 0,
 567,
 330,
 144,
 1312,
 615,
 759,
 1216,
 78,
 33,
 1435,
 943,
 343,
 84,
 1485,
 594,
 65,
 344,
 133,
 168,
 735,
 980,
 216,
 517,
 288,
 1344,
 552,
 1189,
 84,
 1200,
 1221,
 672,
 589,
 912,
 36,
 66,
 660,
 60,
 1161,
 1672,
 74,
 168,
 1023,
 405,
 675,
 1089,
 690,
 1150,
 272,
 189,
 1296,
 896,
 665,
 135,
 1073,
 56,
 684,
 286,
 640,
 950,
 1023,
 7,
 328,
 756,
 736,
 1008,
 123,
 0,
 252,
 2352,
 1127,
 1512,
 180,
 126,
 108,
 0,
 80,
 992,
 832,
 840,
 129,
 800,
 374,
 640,
 135,
 630,
 576,
 1350,
 1748,
 800,
 648,
 84,
 777,
 18,
 1610,
 145,
 630,
 918,
 874,
 261,
 0,
 1260,
 330,
 45,
 713,
 782,
 87,
 390,
 238,
 84,
 72,
 4,
 836,
 567,
 720,
 15,
 54,
 368,
 100,
 230,
 720,
 1763,
 261,
 960,
 612,
 224,
 1092,
 600,
 1225,
 14,
 1960,
 638,
 46,
 600,
 574,
 900,
 989,
 260,
 850,
 21,
 330,
 96,
 1404,
 645,
 210,
 1302,
 189,
 42,
 1794,
 132,
 552,
 500,
 336,
 528,
 330,
 546,
 242,
 2,
 364,
 1833,
 1120,
 1353,
 774,
 1968,
 45,
 203,
 209,
 608,
 24,
 344,
 297,
 1677,
 33,
 120,
 168,
 2162,
 945,
 1050,
 612,
 16,
 1053,
 1225,
 1127,
 464,
 378,
 588,
 858,
 1710,
 0,
 368,
 539,
 840,
 77,
 150,
 1107,
 992,
 296,
 225,
 336,
 864,
 1271,
 600,
 86,
 20,
 546,
 440,
 672,
 0,
 1530,
 192,
 1332,
 924,
 400,
 1221,
 1118,
 132,
 1408,
 0,
 1088,
 41,
 372,
 2024,
 1968,
 31,
 405,
 418,
 84,
 1287,
 500,
 774,
 486,
 0,
 0,
 490,
 20,
 189,
 1230,
 196,
 414,
 26,
 1598,
 1316,
 1406,
 168,
 936,
 806,
 378,
 240,
 192,
 1628,
 1140,
 0,
 676,
 1568,
 234,
 480,
 0,
 440,
 224,
 792,
 1288,
 198,
 1360,
 18,
 378,
 434,
 455,
 1677,
 176,
 1620,
 1480,
 192,
 1344,
 0,
 21,
 2107,
 1410,
 280,
 462,
 280,
 18,
 810,
 240,
 1702,
 192,
 1800,
 1892,
 396,
 1254,
 110,
 1254,
 58,
 437,
 836,
 360,
 816,
 1386,
 342,
 30,
 1008,
 133,
 1890,
 2009,
 490,
 999,
 44,
 324,
 585,
 960,
 72,
 320,
 561,
 276,
 4,
 390,
 32,
 468,
 378,
 330,
 1932,
 992,
 108,
 66,
 528,
 1862,
 72,
 528,
 46,
 750,
 1209,
 98,
 1147,
 1008,
 825,
 ...]

### Standard python functions compiled to Wasm

#### <font color='red'>TODO</font>

### Same example above without Wasm (c code called from Python via some witchcraft TBD)

#### <font color='red'>TODO</font>